.wrapper2{
    display: flex;


}

.wrapper2 .content{
    position: absolute;
    left: 263px;
    top: 200px;
    color: black;
}

.wrapper2 .content h1{
    font-size: 70px;
    font-weight: bold;
}

.wrapper2 .content h6{
    color: rgba(25, 24, 37, 0.50);
    margin-top: 40px;
}

.wrapper2 .content .btn{
    
    background-color: #5D50C6;
    border-radius: 100px;
    color: #EEE;
    margin-top: 40px;
}



.wrapper2 .img img{
    height: 600px;
    position: absolute;
    right: 250px;
}

@media screen and (max-width: 1020px){
    .wrapper2{
        display: inline;
    }

    .wrapper2 .img img{
        height: 550px;
        position: absolute;
        left: 30px;
        top: 150px;
    }

    .wrapper2 .content{
        position: absolute;
        top: 700px;
        text-align: center;
        color: black;
        left: 100px;
    }

    .wrapper2 .content .btn{
        position: absolute;
        left: 125px;
    }
}

@media screen and (max-width: 431px) {
    .wrapper2 .img img{
        height: 250px;
        position: absolute;
        left: 20px;
        top: 150px;
    }

    .wrapper2 .content{
        position: absolute;
        top: 500px;
        text-align: center;
        color: black;
        left: 50px;
    }

    .wrapper2 .content h1{
        font-size: 20px;
        
    }

    .wrapper2 .content h6{
        font-size: 10px;
        
    }

    .wrapper2 .content .btn{
        position: absolute;
        left:30px;
        top: 130px;
    }
}